* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%; /* By default The width of the body depends on it’s content. */
  height: 100%;
  background-color: #eee;
}
.card {
  width: 34.5rem;
  height: 50rem;
  display: flex; /* children become flex iteams */
  flex-direction: row;
  margin: auto; /*center the container */
  font-family: "Hanken Grotesk", sans-serif;
}
.firstCard,
.secondCard {
  width: 17.25rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  border-radius: 9%;
  margin: auto;
}
.firstCard {
  background-color: #5946e9;
  color: white;
  background-image: linear-gradient(to bottom, #5d55e4, #3731a9);
  align-items: center;
}
h1 {
  font-size: 25px;
  padding-top: 30px;
  margin-bottom: 30px;
}
h2 {
  background-color: #371a7766;
  line-height: 2.3rem;
  padding: 30px;
  width: 154px;
  height: 135px;
  border-radius: 50%;
  background-image: linear-gradient(to top, #504abe, #3731a9);
}
h2 span {
  display: block;
  text-align: center;
  color: white;
  background-image: (to top, #453eb8 10%, #181381);
}
h2 span.first {
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 5px;
}
h2 span.second {
  font-size: 15px;
  opacity: 0.79;
}

h3 {
  margin-top: 30px;
  margin-bottom: 12px;
  font-size: 27px;
}
p {
  opacity: 0.67;
  font-size: 15px;
  padding-bottom: 5px;
  max-width: 210px;
  text-align: center;
  line-height: 1.4rem;
}

.secondCard {
  background-color: #fdf7f7;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
svg {
  width: 1.2rem;
  height: 2rem;
  margin-right: 7px;
  margin-left: 6px;
}
h4 {
  padding-left: 30px;
  padding-top: 14px;
  margin-bottom: 20px;
  font-size: 21px;
}

.secondCard ul li {
  list-style-type: none;
  width: 230px;
  height: 38px;
  padding-top: 7px;
  margin-left: 23px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.data-number {
  margin-left: auto;
  padding-right: 10px;
  color: black;
  font-size: 18px;
  font-weight: 620;
}
.remainresult {
  font-size: 14px;
  opacity: 0.6;
}
.firstli {
  color: #db2e0a;
  background-color: #ffdddd;
}
.secondli {
  background-color: #f0ebd0;
  color: rgb(193 176 58);
}
.thirsdli {
  background-color: rgb(233 249 221);
  color: green;
}
.fourthli {
  background-color: #c7e5f8;
  color: blue;
}
button {
  margin-top: auto;
  margin-left: 35px;
  margin-bottom: 50px;
  width: 220px;
  height: 35px;
  font-size: 17px;
  border-radius: 20px;
  background-color: #030326;
  color: white;
}
